@import "partials/colors";
@import "partials/forms";
@import "partials/tabs";

.content {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.highlights-container {
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
}

.page-content-container {
  display: grid;
  grid-auto-flow: row;
  gap: 30px;
  margin-bottom: 40px;
}

.info-collection {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

  &_item {
    color: var(--primary-color);
  }

  &_value {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &_title {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.page-subtitle {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 20px;
}

/* React Modal animation */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

/* Table */
.table-container {
  overflow-y: auto;
}

.table {
  th {
    border-bottom: 1px solid var(--primary-color);
    padding: 10px;
    font-weight: 600;
    text-align: left;
  }

  td {
    padding: 10px;
    font-weight: 400;
    white-space: nowrap;
  }
}
