.LoginPage {
  background: repeating-linear-gradient(
    160deg,
    var(--primary-color),
    var(--primary-color) 200px,
    #225BAC 200px,
    #225BAC 400px
  );
  background: var(--primary-color);
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.LoginPageBox {
  position: absolute;
  background-color: white;
  padding: 25px 25px;
  border-radius: 20px;
  color: var(--primary-color);
  min-width: 300px;
  margin: 40px 0;
  z-index: 50;
}

.LoginPageBox_title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 35px;
}

.LoginPageBox_buttons {
  display: grid;
  grid-auto-flow: row;
  gap: 15px;
}

/* Background animation */
.stripe {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  --stripe-size: 800px;
  --color1: #285CA4;
  --color2: #1D539F;
  --duration: 12s;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + var(--stripe-size));
    height: 100%;
    background: repeating-linear-gradient(
      135deg,
      var(--color2) 25%,
      var(--color2) 50%,
      var(--color1) 50%,
      var(--color1) 75%
    );
    background-size: var(--stripe-size) var(--stripe-size);
    animation: stripeTransform var(--duration) linear infinite;
  }
}

@keyframes stripeTransform {
  0% {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(calc(var(--stripe-size) * -1));
  }
}

@keyframes stripeBackgroundPosition {
  0% {
    background-position: 0 0;
  }
  
  100% {
    background-position: calc(var(--stripe-size) * -1) 0;
  }
}
