.MainContent {
  flex: 1;
  background-color: var(--primary-color-5);
  padding: 60px 50px;
  overflow: auto;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
}
